{% extends 'main.html' %}
{% load static %}
{% block content %}
<!-- content here -->
<div class="container mt-6">
    <div class="col-md-12">

        
        <!-- loop start here -->
        {% for ask_question in ask_questions %}
        <div class="mb-6">
            <div class="d-flex border-bottom pb-2 mb-2">
                <div class="ms-5">
                    <h6 class="mb-1">Asked by: {{ask_question.student.first_name}} {{ask_question.student.last_name}}</h6>
                    <p class="small">
                        <span class="">Asked on {{ask_question.created_at}} in </span>
                        <span class="text-primary ms-1 fw-bold">{{ask_question.SubjectName.SubjectName}}</span>
                    </p>
                    <p><a href="{% url "view_asked_questions" ask_question.id %}" class="text-dark fw-bold">{{ask_question.question_text}}</a></p>

                    <!-- Icons for Comments, Views, etc. -->
                    <div class="d-flex justify-content-start mt-4">
                        <a href="#" class="ms-4">
                            <i class="bi bi-eye me-2"></i> {{ ask_question.views }}
                        </a>
                        <a href="#" class="ms-4">
                            <i class="bi bi-chat-left-dots me-2"></i> {{ ask_question.answers.count }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- loop end here -->


    </div>
</div>
<!-- content here -->
{% endblock %}