{% extends 'main.html' %}
{% load static %}
{% block content %}
<!-- content here -->
<section class="mt-2 col-sm-12 col-lg-8 col-md-8 col-xxl-8">
    <div class="container">
       <!-- subject section -->
          <div class="d-lg-flex justify-content-between align-items-center border-bottom pt-2 pb-2">
                <div class="mb-3 mb-lg-0">
                   <p class="mb-0 pt-2 fs-3" style="color: #0aad0a;">
                      {{questions.QuestionName}} 
                   </p>
                </div>
          </div>
       <div class="container mt-6">
          <div class="col-md-12">
             <div class="mb-10">
               {% for answer in questions.answers.all %}
                <!-- loop start here -->
                <div class="d-flex border-bottom pb-6 mb-6">
                   <div class="ms-5">
                      <h6 class="mb-1">Answered by: {{answer.AnswerBy.PostedBy}} </h6>
                      <!-- select option -->
                      <!-- content -->
                      <p class="small">
                         <span class="">Answered on {{answer.CreatedDate}}  </span>
                         <span class="text-primary ms-1 fw-bold">{{answer.QuestionName.SubjectName}}</span>
                      </p>
                      <p>
                         {{answer.Answer}}
                      </p>
                      <!-- icon -->
                      <div class="d-flex justify-content-end mt-4">
                         <a href="#" class="">
                            <i class="feather-icon icon-thumbs-up me-1"></i>
                            100
                         </a>
                         <a href="#" class="ms-4">
                            <i class="bi bi-eye me-2"></i>
                            500
                         </a>
                      </div>
                   </div>
                </div>
                {% empty %}
                <p>No answers yet.</p>
                {% endfor %}
                <!-- loop end here -->


                <div class="d-flex border-bottom">
                   <p class="text-dark">1 Answer(s)</p>
                </div>
                <!-- Comments Accordion Section -->
                <div class="accordion" id="commentAccordion">
                    <!-- Accordion Item 1 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <!-- Accordion Button with custom icon -->
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                <span class="me-2">
                                    <i class="bi bi-plus-circle" id="comment-icon"></i>
                                </span>
                               {{comment_count}} Comment(s)
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#commentAccordion">
                            <div class="accordion-body">

                              {% for comment in comments %}
                              {% if comment.content_type.model == "questions" %}
                                <!-- loop start here -->
                                <div class="comment mb-4">
                                    <h6 class="mb-1">Commented by: {{ comment.student.firstName }} {{ comment.student.lastName }}</h6>
                                        <!-- select option -->
                                        <!-- content -->
                                        <p class="small">
                                            <span class="text-primary ms-1 fw-bold">Answered on {{comment.createdDate}}   </span>
                                            {% comment %} <span class="text-primary ms-1 fw-bold">{{comment.SubjectName.SubjectName}}</span> {% endcomment %}
                                        </p>
                                        <p>
                                          {{comment.commentText}}
                                        </p>
                                        <!-- icon -->
                                </div>
                                <hr>
                                {% endif %}
                                {% endfor %}
                                <!-- loop end here -->
                            </div>
                        </div>
                    </div>
                    
                <form method = "POST" action = "{% url "add-comment" questions.id %}">
                  {% csrf_token %}
                   <div class="mb-3 col-lg-12 mt-5">
                      <div class="mb-3">
                         <label class="form-label">Comment Here</label>
                         <textarea class="form-control" name = "commentText" rows="20" placeholder="Comment your answer"></textarea>
                      </div>
                   </div>
                   <div class="col-lg-12">
                      <button class="btn btn-primary" type="submit">Post Comment</button>
                   </div>
                </form>
             </div>
          </div>     
       </div>

       <!-- filter section end -->
    </div>
 </section>
<!-- content here -->
{% endblock %}